In [69]:
import pandas as pd
import numpy as np

In [70]:
from sklearn.utils import resample

In [71]:
df = pd.read_json("News_Category_Dataset_v2.json")

In [72]:
df['category'].unique()

array(['CRIME', 'ENTERTAINMENT', 'WORLD NEWS', 'IMPACT', 'POLITICS',
       'WEIRD NEWS', 'BLACK VOICES', 'WOMEN', 'COMEDY', 'QUEER VOICES',
       'SPORTS', 'BUSINESS', 'TRAVEL', 'MEDIA', 'TECH', 'RELIGION',
       'SCIENCE', 'LATINO VOICES', 'EDUCATION', 'COLLEGE', 'PARENTS',
       'ARTS & CULTURE', 'STYLE', 'GREEN', 'TASTE', 'HEALTHY LIVING',
       'THE WORLDPOST', 'GOOD NEWS', 'WORLDPOST', 'FIFTY', 'ARTS',
       'WELLNESS', 'PARENTING', 'HOME & LIVING', 'STYLE & BEAUTY',
       'DIVORCE', 'WEDDINGS', 'FOOD & DRINK', 'MONEY', 'ENVIRONMENT',
       'CULTURE & ARTS'], dtype=object)

In [73]:
categories = ['CRIME', 'ENTERTAINMENT', 'WORLD NEWS', 'POLITICS', 'BUSINESS']

In [74]:
short_description = []
for cat in categories:
    df_cat = df[df['category'] == cat]['short_description']
    df_cat = resample(df_cat, n_samples = 1000, replace = False)
    ls = list(df_cat.values)
    short_description.append(ls)

In [75]:
short_description = [item for sublist in short_description for item in sublist]

In [76]:
filtered_news_cat = pd.DataFrame(data = short_description, columns=['short_description'])

In [77]:
filtered_news_cat = filtered_news_cat[filtered_news_cat['short_description'] != '']

In [78]:
filtered_news_cat

                                      short_description
0     One of the country's most bizarre criminal cas...
1     While rightfully condemning the seven governor...
2                           And now it's national news.
4     "I can assure you that we have only just begun...
5     The shots fired by 58-year-old Randal Ratledge...
...                                                 ...
4994  If failed corporate mergers teach us anything ...
4996  NYSE Euronext is preparing to submit details o...
4997  When crude oil prices sank this winter, compan...
4998  Appearing Sunday on ABC's "This Week," the Nob...
4999  It started as a homework assignment for a coll...

[4347 rows x 1 columns]

In [79]:
filtered_news_cat.to_csv("filtered_news_cat.csv", index = False)

In [ ]:
# "http://localhost:8983/solr/NewsCatFiltered/update?commit=true&f.tags.split=true&f.tags.seperator=," --data-binary @D:\kaggle\news_category\filtered_news_cat.csv -H "Content-type:application/csv"