In [63]:
import re
import pandas as pd
import numpy as np

In [64]:
import json

In [81]:
filtered_df = pd.read_csv("filtered_news_cat.csv")

In [82]:
filtered_df.head()

                                   short_description
0  One of the country's most bizarre criminal cas...
1  While rightfully condemning the seven governor...
2                        And now it's national news.
3  "I can assure you that we have only just begun...
4  The shots fired by 58-year-old Randal Ratledge...

# Query 1 
### short_description: united states

In [186]:
re_output = filtered_df[filtered_df['short_description'].str.contains('(?:^|\W)united states(?:$|\W)',regex=True, na=False, case = False)]

In [187]:
re_output

                                      short_description
324   Zambrano’s death was among a series of police ...
379   "The FBI remains concerned about people overse...
610   Artan’s actions fit the pattern of lone-wolf m...
702   Since the beginning of the United States' econ...
1270  The British singer-songwriter has been touring...
1597  “There is no bigger mistake than the United St...
1644  The visit is aimed at encouraging North Korea ...
1653  "I think it’s impossible to move on without Am...
1661  The United States needs to step up to the occa...
1855  The United States has extraordinary influence ...
2248  Pyongyang condemned recent joint military exer...
2270       The move further isolated the United States.
2341  The move comes a few days after the Guatemalan...
2417  Trump said Palestinians snubbed the United Sta...
2422  North Korea has told the United States it is p...
2717  In 2013, after months of drafting, hearings an...
2855  The number of times I would’ve been expected t...
2911  I had barely touched down in California when i...
2994  It is evident that the United States governmen...
3058  The flag is a symbolic representation of the n...
3095  "You folks are taking a look at the most prepa...
3332  He said the United States "needs a good 'shutd...
3355  Three weeks from today, Americans finally will...
3412  The president of the United States loves Musli...
3462  For 150 years, since the Emancipation Proclama...
3502  Every year, around this time, as the United St...
3560  Nothing says United States of America like a b...
3603  For the third year in a row, Washington, D.C.,...
3705  After three years of declining sales, shipment...
3873  Unemployment in the United States has steadily...
4064  The strength of organized labor in the United ...
4127  While a dollar bill looks and feels the same a...
4149  Lagarde said fiscal problems in developed nati...
4301  According to a recent study, the city with the...
4317  These are the countries where workers get the ...

In [188]:
file_1 =  open('united_states.json')
json_op_1 = json.load(file_1)

In [189]:
docs = []
for doc in json_op_1['response']['docs']:
    docs.append(doc['short_description'][0])

In [190]:
json_df = pd.DataFrame(data = docs, columns = ['short_description'])

In [191]:
tp = len(json_df[json_df['short_description'].str.contains('united states',regex=True, na=False, case = False)])
fp = len(json_df) - tp

In [192]:
fn = len(re_output) - tp

In [193]:
print("True Positive = {}\nFalse Negative = {}\nFalse Positive = {}".format(tp, fn, fp))

True Positive = 6
False Negative = 29
False Positive = 4

In [194]:
precision = tp/(tp+fp)
recall = tp/(tp+fn)

In [195]:
print("Precision = {}\nRecall = {}".format(precision, recall))

Precision = 0.6
Recall = 0.17142857142857143

# Query 2
### short_description: saudi arabia

In [196]:
re_output_2 = filtered_df[filtered_df['short_description'].str.contains('(?:^|\W)saudi arabia(?:$|\W)',regex=True, na=False, case = False)]

In [197]:
re_output_2

                                      short_description
1612  By James M. Dorsey Talks aimed at transferring...
1638  The stakes for 31-year-old Prince Mohammed and...
1724  Saturday night was a busy one for Saudi Arabia...
1755  Saudi Arabia’s lifting of a ban on women’s dri...
1788  In recent weeks, Saudi Arabia has become more ...
1885  By James M. Dorsey Recent moves by Saudi Arabi...
1932  A three-month old crisis in the Gulf that has ...
2060  In its words and its actions, Saudi Arabia nou...
2064  As Saudi Arabia reels from Crown Prince Mohamm...
2226  By James M. Dorsey Saudi Arabia, with the Isla...
2269  Saudi Arabia’s long-awaited lifting of a ban o...

In [198]:
file_1 =  open('saudi_arabia.json')
json_op_1 = json.load(file_1)
docs = []
for doc in json_op_1['response']['docs']:
    docs.append(doc['short_description'][0])
json_df = pd.DataFrame(data = docs, columns = ['short_description'])
tp = len(json_df[json_df['short_description'].str.contains('(?:^|\W)saudi arabia(?:$|\W)',regex=True, na=False, case = False)])
fp = len(json_df) - tp
fn = len(re_output_2) - tp
precision = tp/(tp+fp)
recall = tp/(tp+fn)

In [199]:
print("True Positive = {}\nFalse Negative = {}\nFalse Positive = {}".format(tp, fn, fp))

True Positive = 3
False Negative = 8
False Positive = 7

In [185]:
print("Precision = {}\nRecall = {}".format(precision, recall))

Precision = 0.3
Recall = 0.2727272727272727

# Query 3
### short_description : south africa

In [213]:
re_output_3 = filtered_df[filtered_df['short_description'].str.contains('(?:^|\W)south africa(?:$|\W)',regex=True, na=False, case = False)]

In [214]:
re_output_3

                                      short_description
1766  A South Africa court resentenced Pistorius to ...
2593  Winnie Madikizela-Mandela’s legacy may resonat...

In [215]:
file_1 =  open('south_africa.json')
json_op_1 = json.load(file_1)
docs = []
for doc in json_op_1['response']['docs']:
    docs.append(doc['short_description'][0])
json_df = pd.DataFrame(data = docs, columns = ['short_description'])
tp = len(json_df[json_df['short_description'].str.contains('(?:^|\W)south africa(?:$|\W)',regex=True, na=False, case = False)])
fp = len(json_df) - tp
fn = len(re_output_3) - tp
precision = tp/(tp+fp)
recall = tp/(tp+fn)

In [216]:
print("True Positive = {}\nFalse Negative = {}\nFalse Positive = {}".format(tp, fn, fp))

True Positive = 1
False Negative = 1
False Positive = 9

In [217]:
print("Precision = {}\nRecall = {}".format(precision, recall))

Precision = 0.1
Recall = 0.5

# Query 4
### short_description:india

In [205]:
re_output_4 = filtered_df[filtered_df['short_description'].str.contains('(?:^|\W)india(?:$|\W)',regex=True, na=False, case = False)]

In [206]:
re_output_4

                                      short_description
1602  India and China are embroiled in a tense impas...
1617  India deployed thousands of riot police and sh...
2071  Michelle Mielly, Grenoble École de Management ...
2167  By Angel Sharma China and India are gearing up...
2485  Afroz Alam, Maulana Azad National Urdu Univers...
3750  Cash Surplus Bloomberg View: Today’s highlight...
4203  O'Neill, who coined the term 'BRIC' in 2001 to...
4214  Louis Gagnon journeyed to India to share the p...
4288  India's solar subsidies have been ruled illega...

In [218]:
file_1 =  open('india.json')
json_op_1 = json.load(file_1)
docs = []
for doc in json_op_1['response']['docs']:
    docs.append(doc['short_description'][0])
json_df = pd.DataFrame(data = docs, columns = ['short_description'])
tp = len(json_df[json_df['short_description'].str.contains('(?:^|\W)india(?:$|\W)',regex=True, na=False, case = False)])
fp = len(json_df) - tp
fn = len(re_output_4) - tp
precision = tp/(tp+fp)
recall = tp/(tp+fn)

In [219]:
print("True Positive = {}\nFalse Negative = {}\nFalse Positive = {}".format(tp, fn, fp))

True Positive = 7
False Negative = 2
False Positive = 0

In [220]:
print("Precision = {}\nRecall = {}".format(precision, recall))

Precision = 1.0
Recall = 0.7777777777777778

# Query 5
### short_description:North Korea

In [221]:
re_output_5 = filtered_df[filtered_df['short_description'].str.contains('(?:^|\W)north korea(?:$|\W)',regex=True, na=False, case = False)]

In [222]:
re_output_5

                                      short_description
1633  The world is in shock and awe over the dramati...
1644  The visit is aimed at encouraging North Korea ...
1753  North Korea has conducted two nuclear tests an...
1804  “I am not worried about North Korea. At all," ...
1826  Byung-Seong Min, Griffith University North Kor...
1888  North Korea has at least 16 different missiles...
1940  It is the pinnacle of hubris for the world to ...
1941  The war of words between Trump and North Korea...
1962  Trump’s announcement came after repeated threa...
2033  Secretary of State Mike Pompeo departed North ...
2037  As US-North Korea relations ebb to their lowes...
2078  The narrative about North Korea, a narrative I...
2146  By James M. Dorsey As US President Donald J. T...
2201  It was the first K-pop show in North Korea in ...
2315  Donald Trump’s 12-day Asia trip threatens to b...
2348  Tensions have been rising over North Korea’s n...
2422  North Korea has told the United States it is p...
2567  "We look forward to candidly discussing intere...
3446  And the latest on Trump's comments on North Ko...

In [223]:
file_1 =  open('north_korea.json')
json_op_1 = json.load(file_1)
docs = []
for doc in json_op_1['response']['docs']:
    docs.append(doc['short_description'][0])
json_df = pd.DataFrame(data = docs, columns = ['short_description'])
tp = len(json_df[json_df['short_description'].str.contains('(?:^|\W)north korea(?:$|\W)',regex=True, na=False, case = False)])
fp = len(json_df) - tp
fn = len(re_output_5) - tp
precision = tp/(tp+fp)
recall = tp/(tp+fn)

In [224]:
print("True Positive = {}\nFalse Negative = {}\nFalse Positive = {}".format(tp, fn, fp))

True Positive = 6
False Negative = 13
False Positive = 4

In [225]:
print("Precision = {}\nRecall = {}".format(precision, recall))

Precision = 0.6
Recall = 0.3157894736842105